h2 {
    text-align: center;
    font-size: 24px;
}

h4 {
    font-size: 18px;
    margin: 0 !important;
    font-family: 'Francois One', sans-serif;
}

p {
    margin: 0 !important;
    font-size: 16px;
}

table {
    width: 95%;
    margin: 10px auto;
}

th.mat-header-cell, td.mat-cell {
  text-align: center !important;
  color: white;
}

.custom-btn {
    width: 75%;
    height: 6vh;
    font-size: 16px;
    margin: 10px auto;
}

// .add-btn {
//     background-color: #1ab86a;
// }

.remove-btn {
    background-color: #B22222;
}