h2 {
    text-align: center;
    font-size: 25px;
}

.etf-card {

    width: 95% !important;
    text-align: center;
    margin: 0;
}

.etf-card > mat-card-title {
    color: white !important;

}

a {
    font-size: 20px;
}

p {
    margin: 0;
    font-size: 16px;
    text-align: center;
}

mat-card-title > a:hover {
    text-decoration: underline;
}