<h2>Exchange Traded Funds</h2>

<mat-grid-list cols="1" rowHeight="5rem">

    <mat-grid-tile class="etf-grid-tile" *ngFor="let etf of etfs">
        <mat-card class="etf-card">
            <mat-card-title>
                <a [title]="etf.symbol + ' Details'" [routerLink]="['/etfs', etf.symbol]">
                    {{ etf.name }} ({{ etf.symbol }})
                </a>
            </mat-card-title>
            <mat-card-content>
                {{ etf.description }}
            </mat-card-content>
        </mat-card>
        <br>
    </mat-grid-tile>
    

</mat-grid-list>