
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';

// Plus imports for other components in your app.
@import 'custom/colors';

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/

// $ETF-Explorer-primary: mat-palette($mat-green, A700);
// $ETF-Explorer-accent: mat-palette($mat-pink, A200, A100, A400);

// // The warn palette is optional (defaults to red).
// $ETF-Explorer-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
// $ETF-Explorer-theme: mat-dark-theme((
//   color: (
//     primary: $ETF-Explorer-primary,
//     accent: $ETF-Explorer-accent,
//     warn: $ETF-Explorer-warn,
//   )
// ));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($ETF-Explorer-theme);

/* You can add global styles to this file, and also import other style files */

* {
    font-family: 'Roboto', Arial, sans-serif;
    color: white;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
body {
    margin: 0;
    background-color: $custom-dark-grey;
}
  
.container {
    display: flex;
    flex-direction: row;
}
  
router-outlet + *  {
    padding: 0 16px;
}

/* Hyperlink */
  
a {
    cursor: pointer;
    /* color: #c552df; */
    // color: #1ab86a;
    text-decoration: none;
}
  
a:hover {
    opacity: 0.8;
}

/* Top Bar */
  
app-top-bar {
    width: 100%;
    height: 68px;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: mat-color($ETF-Explorer-primary);
}
  
app-top-bar h1 {
    color: white;
    margin: 0 !important;
    font-size: 40px !important;
}

app-top-bar > a > i {
      font-size: 45px !important;
}

/* Card */

mat-card {
    // background-color: $custom-medium-grey !important;
    padding-top: 0;
    padding-bottom: 0;
    width: 95%;
    margin: 10px auto;
}

mat-card-title {
    text-align: center;
}

mat-card-content {
    margin-bottom: 0;
}

mat-card-footer {
    justify-content: center;
    text-align: center;
    padding-bottom: 5px;
    display: flex !important;
    flex-direction: column;
    align-items: center;
}

// .cdk-overlay-pane {
//     max-width: 95% !important;
//     width: 95% !important;
// }

// table {
//     background-color: $custom-medium-grey !important;
// }

.mat-list-item-content {
    justify-content: center;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
